body {
	background-color: #595547;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	color: #fff;
	width: 500px;
}

a, a:visited {
	color: #ff4f;
	text-decoration: none;
}

a:hover {
	color: #00ff00;
	text-decoration: underline;
}

h1, h2 {
	color: #9FC2F8;
}

h1 {
	font-size: 40pt;
}

strong {
	color: #FFF86B;
}

p:first-letter {
	font-weight: bold;
	font-size: 150%;
}